<ion-tabs #tabs>
    <ion-tab tab="dashboard">
        <ion-content class="ion-padding">
            <app-dashboard></app-dashboard>
        </ion-content>
    </ion-tab>
    <ion-tab tab="food">
        <ion-content class="ion-padding">
            <app-food></app-food>
        </ion-content>
    </ion-tab>
    <ion-tab tab="history">
        <ion-content>
            <app-history></app-history>
        </ion-content>
    </ion-tab>
    <ion-tab tab="setting">
        <ion-content>
            <app-setting></app-setting>
        </ion-content>
    </ion-tab>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="grid-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="food">
            <ion-icon name="fast-food-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="history">
            <ion-icon name="calendar-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="setting">
            <ion-icon name="settings-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>