<ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

<ion-accordion-group>
    <ion-accordion>
        <ion-item slot="header">
            <ion-label>
                @for (nl of nutritionalList; track $index) {
                @if (nl.show) {
                <span [style]="{'color': nl.color}">{{nl.name}} </span>
                }
                }
            </ion-label>
        </ion-item>
        <div slot="content" style="padding: 5px 20px;">
            @for (nl of nutritionalList; track nl.id) {
            <ion-radio-group [allowEmptySelection]="true" [value]="nl.show ? nl.value : ''" (ionChange)="nutritionalChange($event, nl.value)">
                <ion-radio [value]="nl.value">{{nl.name}}</ion-radio><br />
            </ion-radio-group>
            }
        </div>
    </ion-accordion>
</ion-accordion-group>


@for (fd of foodsData; track fd) {
<div class="food-btn-container">
    <div style="padding: 10px;" (click)="setOptionClick($event, fd)">
        <span>{{ fd.name }}</span>
        <ion-icon style="float: right; font-size: 2rem; margin-left: 10px;" name="caret-down-circle-outline"></ion-icon>
        @if (fd.favorite == 'Y') {
        <ion-icon style="float: right; font-size: 2rem; color: red;" name="heart" aria-hidden="true"
            (click)="clickFavorite(fd)"></ion-icon>
        } @else {
        <ion-icon style="float: right; font-size: 2rem; color: red;" name="heart-outline" aria-hidden="true"
            (click)="clickFavorite(fd)"></ion-icon>
        }
        <br>
        <span class="nutrients-font" style="color: #FF0000;">{{fd.calories}}大卡</span>
        <span> / </span>
        <span class="nutrients-font" style="color: #BC8F8F;">{{fd.protein}}g</span>
        <span> / </span>
        <span class="nutrients-font" style="color: #802A2A;">{{fd.carbs}}g</span>
    </div>
</div>
}

<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
        <ion-content>
            <ion-list>
                @for (mt of allMealType; track mt) {
                <ion-item [button]="true" [detail]="false" (click)="clickMealType(mt, selectedFood)">{{mt}}</ion-item>
                }
                <ion-item [button]="true" [detail]="false" (click)="clickCustom(selectedFood)">客製化</ion-item>
            </ion-list>
            <div>
                <div class="nutrients-font">熱量: {{selectedFood.calories}}大卡</div>
                <div class="nutrients-font">蛋白質: {{selectedFood.protein}}公克</div>
                <div class="nutrients-font">碳水化合物: {{selectedFood.carbs}}公克</div>
            </div>
        </ion-content>
    </ng-template>
</ion-popover>